
/* initialize */
*, 
*::after, 
*::before {
    box-sizing: border-box;
}
Body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(90deg,#fb61db,#61dbfb);
    font-family: Inter, sans-serif;
    
}

.background__card {
    
    background-image: url('./images/logo512.png');
    background-repeat: no-repeat;
    background-position-x: 175%;
    background-position-y: center;
    background-size: 60%;
}
/* helper class */

.flex {
    display: flex;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;

    background-color: hsl(192, 95%, 45%, .3);
    filter: blur();
    box-shadow: 4px 5px 8px hsl(192, 95%, 35%, .7);
    color: #fff;
}

.space {
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 0px 5px 8px hsl(192, 95%, 45%, .7);
    filter: blur();
    background-color: hsl(192, 95%, 60%, .6);
    color: #fff;
}

.nav--icon {
    width: 60px;
    place-self: center;
    margin-inline-end: 1rem;
}

li::marker {
    color: rgba(255, 230, 0, 0.993);
    font-size: 1.5em;
}